:root {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
  font-size: 16px;
}

body {
  margin: 0;
  padding: 0;
  line-height: 1.3;
}

.layout {
  display: grid;
  grid-template-columns: 250px 1fr;
  min-height: 100vh;
}

main {
  padding: 1rem;
  width: 100%;
  max-width: 65ch;
}

main:first-child{
  margin-top: 0 !important;
}

h1, h2, h3, h4, h5, h6, p, blockquote{
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6, p{
  font-size: 1rem;
  margin: 0 0 .6rem;
  line-height: 1.2;
}

h1 {
  /* font-size: 1rem; */
  margin-bottom: 1rem;
  font-weight: 600;
}

h2 {
  /* font-size: 1rem; */
  margin-top: 1rem;
  font-weight: 500;
}
h3{
  /* font-size: 1rem; */
  margin-top: 1rem;
  font-weight: 400;
}
h4, h5, h6 {
  /* font-size: 1rem; */
  margin: 0 0 1rem;
  font-weight: 500;
}

p {
}

blockquote{
  font-style: italic;
}

hr{
  border: none;
  border-top: 1px dashed #000000;
  margin: 1rem 0;
}

sup{
  vertical-align: text-top;
}

sup a{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  text-decoration: none;
  font-style: normal;
  font-weight: 500;
  font-size: .875rem;
  line-height: 1;
}

.description {
  color: #666;
  font-size: 1.125rem;
  margin: 1rem 0;
}

article .meta {
  margin-bottom: 1rem;
  opacity: 0.5;
}

.prose{
    /* font-size: 130%; */
    /* font-family: "Rosart", "Times New Roman", Times, serif; */
}

.footnotes{
  font-size: 1rem;
}

.footnotes p{
  margin: 0.3rem 0;
}

.breadcrumb {
    margin-bottom: 1rem;
}

.breadcrumb a, 
.breadcrumb span {
    color: #898989;
    text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  body {
    background: #1a1a1a;
    color: #fff;
  }

  .description {
    color: #aaa;
  }
} 