@font-face {
    font-family: "Rosart";
    src: url("/fonts/Rosart-Regular.woff2") format("woff2"),
    url("/fonts/Rosart-Regular.woff") format("woff");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Rosart";
    src: url("/fonts/Rosart-RegularItalic.woff2") format("woff2"),
    url("/fonts/Rosart-RegularItalic.woff") format("woff");
    font-weight: 400;
    font-style: italic;
}

:root {
    --font-family-sans-serif: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    --font-family-serif: "Rosart", "Times New Roman", Times, serif;

    --color-text: #000000;
    --color-text-muted: #7e7e7e;
    --color-highlight: #a1f100;
    --color-background: #fff;

    --font-size-lg: 1.125rem;
    --font-size-md: 1rem;
    --font-size-sm: 0.875rem;

    --font-size-sans-lg: 1.3rem;
    --font-size-serif-md: 1.1rem;
    --font-size-serif-sm: 0.925rem;
}

@media (prefers-color-scheme: dark) {
    :root {
        --color-text: #fff;
        --color-text-muted: #aaa;
        --color-highlight: #a1f100;
        --color-background: #1a1a1a;
    }
}

body {
    font-family: var(--font-family-sans-serif), sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.3;
    background-color: var(--color-background);
    color: var(--color-text);
}


.layout {
    display: grid;
    grid-template-columns: min-content auto;
    min-height: 100dvh;
    max-width: 100dvw;
}

main {
    .content {
        padding: .5rem .8rem;
        max-width: 65ch;
    }
}

.content:first-child {
    margin-top: 0 !important;
}

h1, h2, h3, h4, h5, h6, p, blockquote {
    text-wrap: pretty;
}

h1, h2, h3, h4, h5, h6, p {
    font-size: var(--font-size-md);
    margin: 0 0 .6rem;
    line-height: 1.2;
}

h1 {
    /* font-size: 1rem; */
    margin-bottom: 1rem;
    font-weight: 600;
}

h2 {
    /* font-size: 1rem; */
    margin-top: 1rem;
    font-weight: 500;
}

h3 {
    /* font-size: 1rem; */
    margin-top: 1rem;
    font-weight: 400;
}

h4, h5, h6 {
    /* font-size: 1rem; */
    margin: 0 0 1rem;
    font-weight: 500;
}

p {
}

button {
    font-family: var(--font-family-sans-serif), sans-serif;
}

blockquote {
    font-family: var(--font-family-serif), serif;
    font-style: italic;
    margin: 1rem 1.3rem;

    p {
        font-size: var(--font-size-serif-md);
    }
}

hr {
    border: none;
    border-top: 1px dashed var(--color-text);
    margin: 1rem 0;
}

sup {
    vertical-align: text-top;
}

sup a {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-decoration: none;
    font-style: normal;
    font-weight: 500;
    font-size: var(--font-size-sm);
    line-height: 1;
}

article .meta {
    margin: 1rem 0;
    opacity: 0.5;
}

header {
    margin-bottom: 1rem;
}

.prose {
    ul {
        padding-inline-start: 1.5rem;

        li {
            list-style-type: '→';
            padding-inline-start: 1ch;

            &::marker {
                color: var(--color-highlight);
            }
        }
    }
}

.footnotes {
    font-size: var(--font-size-sm);

    p {
        font-size: var(--font-size-sm);
        margin: 0.3rem 0;
    }

    ul, ol {
        padding-inline-start: 2rem;
    }
}

.breadcrumb {
    display: inline;
    margin-bottom: 1rem;

    a {
        color: var(--color-text);
        text-decoration: none;
    }

    span {
        color: var(--color-text-muted);
        text-decoration: none;
    }
}

.mobile-nav-toggle {
    display: none;
}

@media (max-width: 768px) {
    .layout {
        grid-template-columns: 0 fit-content(100%);
        transition: grid-template-columns 0.25s ease-out;

        &:has(nav.open) {
            grid-template-columns: 80vw fit-content(100%);
            transition: grid-template-columns 0.25s ease-out;
            overflow: hidden;
            height: 100dvh;

            nav {
                height: 100%;
                overflow: hidden;

                .nav-root {
                    overflow: scroll;
                    -ms-overflow-style: none; /* Internet Explorer 10+ */
                    scrollbar-width: none; /* Firefox */

                    &::-webkit-scrollbar {
                        display: none; /* Safari and Chrome */
                    }
                }
            }
        }

        main {
            width: 100dvw;

            .content {
                padding: 1rem 1.5rem 1rem 1rem;
            }

        }
    }


    .mobile-nav-toggle {
        display: inline;
        border: none;
        background: transparent;
        font-size: 1rem;
        padding: 0;
        text-align: right;
        transform: translateY(2px);

        .open-icon {
            display: block;
        }

        .close-icon {
            display: none;
        }

        &.open {
            .open-icon {
                display: none;
            }

            .close-icon {
                display: block;
            }
        }
    }
}