nav {
    padding: .5rem 1.5rem .5rem .8rem;
    position: sticky;
    top: 0;
    height: calc(100dvh - 1rem);
    border-right: 1px dashed var(--color-highlight);
}

.nav-wrapper {
    width: 230px;
}

.nav-root,
.nav-children {
    list-style: none;
    padding: 0;
    margin: 0;
}

.nav-children {
    padding-left: .5rem;
}

/* Base nav item styles */
.nav-item {
    padding: 0.1rem 0;
    position: relative;
}

/* Hide depth indicators by default */
.nav-item > .nav-link::before {
    content: "";
    position: absolute;
    transform: translateX(-130%);
    color: var(--color-highlight);
    transition: opacity 0.2s ease;
    opacity: 1;
}

.nav-level-1 > .nav-link,
.nav-level-2 > .nav-link,
.nav-level-3 > .nav-link,
.nav-level-4 > .nav-link,
.nav-level-5 > .nav-link {
    padding-left: 1rem;

    &::before {
        padding-top: 0.1rem;
        content: "⤷";
    }
}

/* Show indicators on hover for clickable items only */
.nav-item.page > .nav-link:hover::before,
.nav-item.external > .nav-link:hover::before,
.nav-item.active > .nav-link::before {
    color: var(--color-text);
}

.nav-item > .nav-link:hover, .nav-item.active > .nav-link {
    font-style: normal;
    transform: translateX(2px);
    transition: transform 350ms ease-out;
}

/* External link indicators override depth indicators */
.nav-item.external > .nav-link {
    padding-left: 1rem;

    &::before {
        content: "↗" !important;
    }
}

.nav-item.section > .nav-link::before {
    content: "" !important;
}

.nav-link,
.nav-section-title {
    padding: 0.05rem 0;
    display: block;
    font-size: 1rem;
    font-weight: normal;
}

.nav-link {
    color: var(--color-text);
    text-decoration: none;
}


@media (max-width: 768px) {
    nav {
        padding: 0;
        z-index: 100;
    }

    .nav-wrapper {
        width: auto;
        pointer-events: none;
        transition: width 0.2s ease-out;
        transition-delay: 0.2s;
        height: 100dvh;
        overflow: hidden;

        .nav-root {
            padding: 1rem;
            opacity: 0;
            height: calc(100dvh - 2rem);
            transition: opacity 0.3s ease-out;

            .nav-item {
                transform: translateX(-2rem);
                transition: all 0.3s ease-out;
            }
        }
    }

    nav.open {
        .nav-wrapper {
            height: auto;
            opacity: 1;
            width: 80dvw;
            pointer-events: all;
            transition: width 0.3s ease-in-out;

            .nav-root {
                opacity: 1;
                transition: opacity 0.3s ease-in-out;
                transition-delay: 0.2s;

                .nav-item {
                    transform: translateX(0px);
                    transition: all 0.4s ease-out;
                    transition-delay: 0s;
                }
            }
        }
    }
}



