nav {
  padding: 1rem;
  position: sticky;
  top: 0;
  height: min-content;
}

.nav-root,
.nav-children,
.nav-grandchildren {
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav-children,
.nav-grandchildren {
  padding-left: 1rem;
}

.nav-item,
.nav-child-item,
.nav-grandchild-item {
  margin: 0rem 0;
}

.nav-link,
.nav-section-title {
  padding: 0.3rem 0;
  display: block;
}

.nav-link {
  color: inherit;
  text-decoration: none;
}

.nav-link:hover {
    font-style: italic;
}

.nav-link.active {
    font-style: italic;
}

.nav-section-title {
    opacity: 0.3;

}

@media (prefers-color-scheme: dark) {
  nav {
    border-right-color: #333;
  }

  .nav-link.active {
    font-weight: 500;
  }

  .nav-section-title {
    color: #999;
  }
} 